*.sln
.vs/
packages/
YouTubeDownloader/bin/
YouTubeDownloader/obj/
YouTubeDownloader/Properties/
YouTubeDownloader/*.config
YouTubeDownloader/App.xaml
YouTubeDownloader/App.xaml.cs
YouTubeDownloader/*.csproj